.back {
    background-color: rgba(0, 0, 0, 0);
    color: #9ba8b8;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #9ba8b8;
}

.back:hover {
    border-color: #fff;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

.back:active {
    background: #fff;
    color: #1E2535;
}

p {
    font-size: 16px;
    color: #9ba8b8;
    text-align: center;
}

.modal {
    font-size: 16px;
    color: #9ba8b8;
    font-family: 'Segoe UI', cursive;
}