span {
    color: white;
}

table {
    font-family: 'Segoe UI', cursive;
    font-size: 16px;
    border-collapse: collapse;
    text-align: center;
    margin: 40px auto;
    border-radius: 20px;
}

th, td:first-child {
    background: rgb(232, 95, 76);
    color: white;
    padding: 10px 20px;
}

th, td {
    border: 1px solid #fff;
    color: white;
}

td {
    color: #999;
}

th:first-child, td:first-child {
    text-align: left;
    color: white;
}

.modal {
    position: relative;
    margin: auto;
}