.cypher {
    height: 50px;
    display: flex;
    flex-direction: row;
}

.cypher > div, .cypher > div > div {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    outline: 1px black solid;
    position: relative;
}