<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Игра "Дешифровщик"</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<div class="modal">
    <div class="modal_content">
        <div class="modal-header">
            <h1>Дешифровщик</h1>
        </div>
        <div class="modal-body">

            <div sec:authorize="isAuthenticated()">
                <p>
                    Вас зовут: <span sec:authentication="name"></span>
                </p>

                <form method="post" th:action="@{/logout}">
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                    <a class="go-to-game" href="/play/">Перейти к играм</a>
                    <input type="submit" value="Выйти" class="button-submit">
                </form>
            </div>

            <div sec:authorize="isAnonymous()">
                <a href="/register" class="registration">Зарегестрироваться</a>
                <a href="/login">Войти</a>
            </div>


        </div>
    </div>
</div>
</body>
</html>