<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/index.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>

<div>
    <form method="POST" action="/login">
        <h2>Log in</h2>
        <label>
            <input name="nickName" placeholder="Введите имя" autofocus/>
        </label>
        <label>
            <input name="password" placeholder="Введите пароль" type="password"/>
        </label>
        <input type="submit"/>
    </form>
</div>

</body>
</html>