<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

<div class="modal">
    <div class="modal_content">
        <div class="modal-header">
            <h1>Регистрация</h1>
        </div>
        <div class="modal-body">
            <form method="post" th:action="@{/register}" th:object="${player}">

                <div class="group group-name">
                    <input type="text" th:field="*{nickName}" required="required">
                    <span class="bar"></span>
                    <label>Имя игрока</label>
                </div>
                <div class="group group-password">
                    <input type="password" th:field="*{password}" required="required">
                    <span class="bar"></span>
                    <label>Пароль</label>
                </div>
                <div class="group group-password2">
                    <input type="password" th:field="*{passwordConfirmation}" required="required">
                    <span class="bar"></span>
                    <label>Повтор пороля</label>
                </div>
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>

                <input type="submit" class="button-submit"/>

                <p th:each="error : ${#fields.allErrors()}" th:text="${error}"></p>
            </form>
            <a th:href='@{/}'>Вернуться</a>
        </div>
    </div>
</div>
</body>
</html>