<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Игра "Дешифровщик"</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/rules.css}">
</head>
<body>
<div class="modal">
    <div class="modal_content">
        <div class="modal-header">
            <h1>Правила игры</h1>
        </div>
        <div class="modal-body">
            <article>

                <p>
                    Игра представляет из себя набор заданий по расшифровке слова, которое было зашифровано тем шифром,
                    который
                    выбирает игрок. За выполнение (или невыполнение) задания игрок получает некоторое количество очков
                    (или лишается некоторого количества). Набранные и потерянные очки суммируются для каждого игрока для
                    участия
                    в общем рейтинге.
                </p>

                <section>
                    <h1>Правила выставления очков</h1>

                    <p>
                        Получив задание, игрок может <u>дать ответ</u> на поставленный вопрос, или <u>сдаться</u>,
                        отказавшись тем
                        самым от выполнения задания. За разные исходы присуждаются разные количества очков.
                    </p>

                    <p>
                        <b>Взяв одно задание, игрок не может взять другое до тех пор, пока не даст ответ, или не
                            сдастся.</b>
                    </p>

                    <p>
                        Если задание покажется игроку слишком сложным, то он может один раз <u>попросить подсказку</u>.
                        С подсказкой
                        или нет решается задача - также влияет на итоговое количество очков.
                    </p>

                    <p>Более подробно о начислении очков и штрафах можно посмотреть в этой таблице:</p>

                    <table class="points-table">
                        <tr>
                            <th></th>
                            <th>Верный ответ</th>
                            <th>Игрок сдался</th>
                            <th>Неверный ответ</th>
                        </tr>

                        <tr>
                            <th>Без подсказки</th>
                            <td>3</td>
                            <td>0</td>
                            <td>2</td>
                        </tr>

                        <tr>
                            <th>С подсказкой</th>
                            <td>1</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                    </table>
                </section>
            </article>
            <a href="/">Вернуться</a>
        </div>
    </div>
</div>
</body>
</html>