<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/statistics.css}">
</head>
<body>

<div class="modal">
    <div class="modal_content">
        <div class="modal-header">
            <h1>Статистика</h1>
        </div>

        <div class="modal-body">
            <form method="get" th:action="@{/statistics}">
                <label>
                    Статистика по дате:<br>
                    <input type="date" th:name="date" class="date-input">
                </label>
                <label>
                    <input type="submit" class="date-button" value="Вывести">
                </label>
            </form>

            <table>
                <tr>
                    <th>Игрок</th>
                    <th>Очки</th>
                </tr>
                <tr th:unless="${scores}">
                    <td colspan="2">Нет результатов</td>
                </tr>
                <tr th:each="score : ${scores}">
                    <td><span th:text="${score.nickName}">Игрок</span></td>
                    <td><span th:text="${score.score}">Очки</span></td>
                </tr>
            </table>
            <a th:href='@{/}'>Вернуться</a>
        </div>
    </div>
</div>
</body>
</html>